
#profile-display {
  margin-top: 100px;
  display:flex;
  flex-wrap:wrap;
  flex-direction: column;
  align-items: center;
  width:100%;  
  top: 100px;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-dark.png");
  background-color: #ffaa00;
}


