
nav {
  display:flex;
  border-radius: 3px;
  background:#4056A1;
  color:#FFFFFF;
  padding:1.5em;
  justify-content: space-between;
  width: 100%;
  position: fixed;
  top: 0mm;

 }

 span.tweetertitle {  
   font-family: 'Bungee', cursive;
   color: #ffffff;
 }

 .embolden {
  font-weight: strong;
 }
