

article {
  display:flex;
  flex-direction: column;
  border: 3px solid rgba(0, 0, 0, 0.500);
  font-family:SourceSansPro;
  font-size:0.8em ;
  width: 100%;
  margin-bottom: 1em;
}

article:hover {
  box-shadow: 5px 5px grey;
}

article:hover .tweet-handle {
visibility: visible
}

.tweet-handle {
visibility: hidden;
}
 
.tweet-header   {
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  align-items:center;
  padding-left: 1em;
  padding-right: 1em;
  margin: auto;
}
.tweet-header .avatar-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

#tweet-body {
  width:90%;
  margin: auto;
  border: transparent;
  word-wrap: break-word
}

.article-footer {
  display:flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin:auto;
  padding-top: 1em;
  padding-bottom: 0.4em;
  border-top: 2px solid black;
}


.tweet-header .avatar-image {
  width: 2em;
  height: 2em;
}

